{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block body %}
    <h1>Évènements</h1>

    <table class="table">
        <thead>
            <tr>
         {#       <th>Id</th>  #}
                <th>Titre</th>
                <th>Description</th>
                <th>Adresse</th>
                <th>Date de Debut</th>
                <th>Date de Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
              {#  <td>{{ evenement.id }}</td>   #}
                <td>{{ evenement.titre }}</td>
                <td style="width: 950px;">{{ evenement.description }}</td>
                <td style="width: 200px;">{{ evenement.adresse }}</td>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('participer_new', {'id': evenement.id}) }}">Participer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'évènement pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
