{% extends 'base.html.twig' %}

{% block title %}Évènement{% endblock %}

{% block body %}
    <h1>Évènement</h1>

    <table class="table">
        <thead>
            <tr>
{#                 <th>Id</th>
 #}                <th>Titre</th>
                <th>Description</th>
                <th>Adresse</th>
                <th>Date de Debut</th>
                <th>Date de Fin</th>
{% if is_granted('ROLE_ADMINISTRATEUR') %}
                <th>actions</th>
{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
 {#                <td>{{ evenement.id }}</td> #}
                <td>{{ evenement.titre }}</td>
                <td style="width: 950px;">{{ evenement.description }}</td>
                <td style="width: 200px;">{{ evenement.adresse }}</td>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
                <td>
{#                     <a href="{{ path('evenement_show', {'id': evenement.id}) }}">Voir /</a>
 #}                
{% if is_granted('ROLE_ADMINISTRATEUR') %}
    
                <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">Modifier</a>
{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'évènement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if is_granted('ROLE_ADMINISTRATEUR') %}
    <a href="{{ path('evenement_new') }}">Creer Évènement</a>
          {% endif %}
{% endblock %}
