{% extends 'base.html.twig' %}

{% block title %}Information Sup{% endblock %}

{% block body %}
    <h1>Information Sup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Type Mailing</th>
                <td>{{ adherent.infosup.typeMailing }}</td>
            </tr>
            <tr>
                <th>Accident</th>
                <td>{{ adherent.infosup.accident }}</td>
            </tr>
            <tr>
                <th>droit a l'image</th>
                <td>{{ adherent.infosup.droitimage}}</td>
            </tr>
            <tr>
                <th>info complementaire</th>
                <td>{{ adherent.infosup.infocomplem }}</td>
            </tr>
            
            <tr>
                <th>assurance</th>
                <td>{{ adherent.infosup.assurance }}</td>
            </tr>
            <tr>
                <th>option assurance</th>
                <td>{{ adherent.infosup.optionassurance }}</td>
            </tr>
            <tr>
                <th>type de Paiement</th>
                <td>{{ adherent.infosup.typePaiement }}</td>
            </tr>
            <tr>
                <th>niveau Technique</th>
                <td>{{ adherent.infosup.niveauTechnique }}</td>
            </tr>
  
          
            <tr>
                <th>Demande Facture</th>
                <td>{{ adherent.infosup.demandeFacture }}</td>
            </tr>
            <tr>
                <th>Pass Jeune</th>
                <td>{{ adherent.infosup.passJeune }}</td>
            </tr>
            <tr>
                <th>Le dossier est Complet</th>
                <td>{{ adherent.infosup.dossierComplet }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('useradherent') }}">Retour a la liste</a>

    <a href="{{ path('infosup_edit', {'idAdherent': adherent.idAdherent}) }}">Modifier</a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
