{% extends 'base.html.twig' %}

{% block title %}Adherent{% endblock %}

{% block body %}
    <h1>Adherent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdAdherent</th>
                <td>{{ adherent.idAdherent }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ adherent.sexe }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ adherent.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ adherent.prenom }}</td>
            </tr>
            <tr>
                <th>Datenaiss</th>
                <td>{{ adherent.datenaiss ? adherent.datenaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ adherent.nationalite }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ adherent.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ adherent.adresse }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ adherent.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adherent.ville }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ adherent.email }}</td>
            </tr>
           {#  <tr>
                <th>Mdp</th>
                <td>{{ adherent.mdp }}</td>
            </tr> #}
            <tr>
                <th>DateCreation</th>
                <td>{{ adherent.dateCreation ? adherent.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('useradherent') }}">Retour a la liste</a>

    <a href="{{ path('useradadherent_edit', {'idAdherent': adherent.idAdherent}) }}">Modifier</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
